<div>
    <div class="step-title">
        <label class="label" for="donatefield">
            <span data-bind="i18n: 'Donate Methods'"></span>
        </label>
    </div>
    <div class="field">
        <label class="label" for="donatefield">
            <span data-bind="i18n: 'Donate For Store USD($)'"></span>
        </label>
        <p></p>
        <div class="control">
            <input class="input-text" id="donatefield" name="donatefield" style="width: 600px;" type="text"/>
        </div>
        <label class="label" for="donatefield">
            <span data-bind="i18n: 'Thank you for supporting our charity program.'"></span>
        </label>
    </div>
</div>
